@page
@model ApuStore.Pages.Administracion.Accesos.CreateModel

@{
    ViewData["Title"] = "Nuevo acceso";
}

<h1>Nuevo acceso</h1>
<hr />

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form method="post" onsubmit="return setValues()">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="Acceso.RolesId" />

            <div class="form-group">
                <label asp-for="Acceso.Usuario" class="control-label">Usuario</label>
                <input asp-for="Acceso.Usuario" class="form-control" placeholder="usuario utilizado para la cuenta de Windows" />
                <span asp-validation-for="Acceso.Usuario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Acceso.Nombre" class="control-label">Nombre</label>
                <input asp-for="Acceso.Nombre" class="form-control" />
                <span asp-validation-for="Acceso.Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Acceso.Apellidos" class="control-label">Apellidos</label>
                <input asp-for="Acceso.Apellidos" class="form-control" />
                <span asp-validation-for="Acceso.Apellidos" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>
                <label asp-for="Acceso.PerfilId" class="control-label">Perfil de acceso</label>
                <select asp-for="Acceso.PerfilId" class="form-control" asp-items="@ViewBag.Perfiles"></select>
                <span asp-validation-for="Acceso.PerfilId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Acceso.RolId" class="control-label">Rol o perfil de acceso</label>
                <select asp-for="Acceso.RolId" class="form-control" asp-items="@ViewBag.Roles"></select>
                <span asp-validation-for="Acceso.RolId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Acceso.Telefono" class="control-label">Teléfono</label>
                <input asp-for="Acceso.Telefono" class="form-control" placeholder="no es obligatorio" />
                <span asp-validation-for="Acceso.Telefono" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Acceso.Email" class="control-label">Email</label>
                <input asp-for="Acceso.Email" class="form-control" placeholder="no es obligatorio" />
                <span asp-validation-for="Acceso.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Acceso.Observaciones" class="control-label"></label>
                <textarea asp-for="Acceso.Observaciones" class="form-control"></textarea>
            </div>

            <div class="form-group m-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                o <a asp-page="./Index">Volver</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        "use strict";

        function setValues() {
            // const rolesId = $('input[id="roles-selected"]:checked').map(function () {
            //     return $(this).val();
            // }).get()

            // $('#Acceso_RolesId').val(rolesId)

            return true;
        }
    </script>
    
}
