@page
@model ApuStore.Pages.Administracion.Tallas.CreateModel

@{
    ViewData["Title"] = "Nuevo";
}

<h1>Nueva Talla</h1>

<h4>Talla de Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductosTallas.Nombre" class="control-label"></label>
                <input asp-for="ProductosTallas.Nombre" class="form-control" />
                <span asp-validation-for="ProductosTallas.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductosTallas.NombreCorto" class="control-label"></label>
                <input asp-for="ProductosTallas.NombreCorto" class="form-control" />
                <span asp-validation-for="ProductosTallas.NombreCorto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductosTallas.Orden" class="control-label"></label>
                <input asp-for="ProductosTallas.Orden" class="form-control" />
                <span asp-validation-for="ProductosTallas.Orden" class="text-danger"></span>
            </div>

            <div class="form-group m-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                o <a asp-page="./Index">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
