@using ApuStore.Extensions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - APU STORE</title>
    <link rel="stylesheet" href="~/lib/fontawesome4/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.0.379/pdf_viewer.min.css" integrity="sha512-v7RQDI7qsfFNaXRzzylpsVV7ncQBdyozLze5YNgox/0z4Mc3Ellt2dBd0CbmufeD7IIh5TCJQ8ORAF/KvzVITg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/templatemo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/templatemo.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ApuStore.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#6aabb4">
            <div class="container">                
                <a class="navbar-brand text-black logo h1 align-self-center" asp-page="/Index">
                    ApuStore
                </a>
                <button style="background-color:white" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav nav-fill flex-sm-grow-1">
                        <li class="nav-item active">
                            <a class="nav-link text-white" asp-page="/Index">Home</a>
                        </li>                       
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-page="/Productos/Index">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-page="/Contacto/Index">Contactanos</a>
                        </li>                        
                        @if (User.IsInAnyRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-page="/Informes/Index">Informes</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-page="/Administracion/Index">Administración</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color:khaki" asp-page="/Logout">Salir</a>
                            </li>
                        }
                        else
                        {
                            @if (User.IsInAnyRole("Cliente"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" style="color:khaki" asp-page="/Logout">Salir</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="btn btn-link text-primary" asp-page="/Access/Login">Login</a>
                                </li>
                            }                            
                        }                                                                
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Jcsmith 
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/signature_pad"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.worker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js" integrity="sha512-4F1cxYdMiAW98oomSLaygEwmCnIP38pb4Kx70yQYqRwLVCs3DbRumfBq82T08g/4LJ/smbFGFpmeFlQgoDccgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/templatemo.js" asp-append-version="true"></script>
   


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>