USE [BDBcnDietario]
GO
/****** Object:  Table [dbo].[contacto_categorias]    Script Date: 03/07/2024 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contacto_categorias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[orden] [int] NULL,
	[observaciones] [nvarchar](250) NULL,
	[registro_sesion_id] [int] NULL,
	[registro_fecha] [datetime] NULL,
	[edicion_sesion_id] [int] NULL,
	[edicion_fecha] [datetime] NULL,
	[borrado] [bit] NULL,
	[borrado_sesion_id] [int] NULL,
	[borrado_fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contacto_motivos]    Script Date: 03/07/2024 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contacto_motivos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[categoria_id] [int] NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[orden] [int] NULL,
	[observaciones] [nvarchar](250) NULL,
	[registro_sesion_id] [int] NULL,
	[registro_fecha] [datetime] NULL,
	[edicion_sesion_id] [int] NULL,
	[edicion_fecha] [datetime] NULL,
	[borrado] [bit] NULL,
	[borrado_sesion_id] [int] NULL,
	[borrado_fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dispositivos]    Script Date: 03/07/2024 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dispositivos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[orden] [int] NULL,
	[observaciones] [nvarchar](250) NULL,
	[registro_sesion_id] [int] NULL,
	[registro_fecha] [datetime] NULL,
	[edicion_sesion_id] [int] NULL,
	[edicion_fecha] [datetime] NULL,
	[borrado] [bit] NULL,
	[borrado_sesion_id] [int] NULL,
	[borrado_fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dispositivos_operaciones]    Script Date: 03/07/2024 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dispositivos_operaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[orden] [int] NULL,
	[observaciones] [nvarchar](250) NULL,
	[registro_sesion_id] [int] NULL,
	[registro_fecha] [datetime] NULL,
	[edicion_sesion_id] [int] NULL,
	[edicion_fecha] [datetime] NULL,
	[borrado] [bit] NULL,
	[borrado_sesion_id] [int] NULL,
	[borrado_fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incidencias]    Script Date: 03/07/2024 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incidencias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[orden] [int] NULL,
	[observaciones] [nvarchar](250) NULL,
	[registro_sesion_id] [int] NULL,
	[registro_fecha] [datetime] NULL,
	[edicion_sesion_id] [int] NULL,
	[edicion_fecha] [datetime] NULL,
	[borrado] [bit] NULL,
	[borrado_sesion_id] [int] NULL,
	[borrado_fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inicios_sesion]    Script Date: 03/07/2024 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inicios_sesion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [nvarchar](25) NOT NULL,
	[clave] [nvarchar](50) NULL,
	[nombre] [nvarchar](50) NULL,
	[apellidos] [nvarchar](100) NULL,
	[perfil_id] [int] NOT NULL,
	[roles_id] [nvarchar](150) NULL,
	[nivel] [int] NOT NULL,
	[telefono] [nvarchar](15) NULL,
	[email] [nvarchar](250) NULL,
	[observaciones] [nvarchar](250) NULL,
	[registro_sesion_id] [int] NULL,
	[registro_fecha] [datetime] NULL,
	[edicion_sesion_id] [int] NULL,
	[edicion_fecha] [datetime] NULL,
	[borrado] [bit] NOT NULL,
	[borrado_sesion_id] [int] NULL,
	[borrado_fecha] [datetime] NULL,
 CONSTRAINT [PK__inicios___3213E83FBF7B0796] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oficiales]    Script Date: 03/07/2024 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oficiales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[orden] [int] NULL,
	[observaciones] [nvarchar](250) NULL,
	[registro_sesion_id] [int] NULL,
	[registro_fecha] [datetime] NULL,
	[edicion_sesion_id] [int] NULL,
	[edicion_fecha] [datetime] NULL,
	[borrado] [bit] NULL,
	[borrado_sesion_id] [int] NULL,
	[borrado_fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfiles]    Script Date: 03/07/2024 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[orden] [int] NULL,
	[roles] [varchar](150) NULL,
	[observaciones] [nvarchar](250) NULL,
	[registro_sesion_id] [int] NULL,
	[registro_fecha] [datetime] NULL,
	[edicion_sesion_id] [int] NULL,
	[edicion_fecha] [datetime] NULL,
	[borrado] [bit] NULL,
	[borrado_sesion_id] [int] NULL,
	[borrado_fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 03/07/2024 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[orden] [int] NULL,
	[observaciones] [nvarchar](250) NULL,
	[registro_sesion_id] [int] NULL,
	[registro_fecha] [datetime] NULL,
	[edicion_sesion_id] [int] NULL,
	[edicion_fecha] [datetime] NULL,
	[borrado] [bit] NULL,
	[borrado_sesion_id] [int] NULL,
	[borrado_fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tarea_categorias]    Script Date: 03/07/2024 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarea_categorias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[orden] [int] NULL,
	[observaciones] [nvarchar](250) NULL,
	[registro_sesion_id] [int] NULL,
	[registro_fecha] [datetime] NULL,
	[edicion_sesion_id] [int] NULL,
	[edicion_fecha] [datetime] NULL,
	[borrado] [bit] NULL,
	[borrado_sesion_id] [int] NULL,
	[borrado_fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tarea_contactos]    Script Date: 03/07/2024 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarea_contactos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tarea_id] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[sesion_id] [int] NOT NULL,
	[motivo_id] [int] NOT NULL,
	[fecha_cita] [datetime] NULL,
	[observaciones] [nvarchar](500) NULL,
	[registro_sesion_id] [int] NULL,
	[registro_fecha] [datetime] NULL,
	[edicion_sesion_id] [int] NULL,
	[edicion_fecha] [datetime] NULL,
	[borrado] [bit] NULL,
	[borrado_sesion_id] [int] NULL,
	[borrado_fecha] [datetime] NULL,
 CONSTRAINT [PK__tarea_co__3213E83F97A0F589] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tarea_dispositivos]    Script Date: 03/07/2024 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarea_dispositivos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tarea_id] [int] NOT NULL,
	[almacenero_id] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[operacion_id] [int] NOT NULL,
	[dispositivo_id] [int] NOT NULL,
	[incidencia_id] [int] NULL,
	[numero_serie] [nvarchar](50) NULL,
	[observaciones] [nvarchar](250) NULL,
	[registro_sesion_id] [int] NULL,
	[registro_fecha] [datetime] NULL,
	[edicion_sesion_id] [int] NULL,
	[edicion_fecha] [datetime] NULL,
	[borrado] [bit] NULL,
	[borrado_sesion_id] [int] NULL,
	[borrado_fecha] [datetime] NULL,
 CONSTRAINT [PK__tarea_di__3213E83F3A09B5D4] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tarea_oficiales]    Script Date: 03/07/2024 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarea_oficiales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tarea_id] [int] NOT NULL,
	[oficial_id] [int] NOT NULL,
	[orden] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[coord_id] [int] NOT NULL,
	[observaciones] [nvarchar](250) NULL,
	[registro_sesion_id] [int] NULL,
	[registro_fecha] [datetime] NULL,
	[edicion_sesion_id] [int] NULL,
	[edicion_fecha] [datetime] NULL,
	[borrado] [bit] NULL,
	[borrado_sesion_id] [int] NULL,
	[borrado_fecha] [datetime] NULL,
	[fecha_cita] [datetime] NULL,
 CONSTRAINT [PK__tarea_of__3213E83FF1C21899] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tarea_tipos]    Script Date: 03/07/2024 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarea_tipos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[categoria_id] [int] NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[urgente_id] [int] NULL,
	[orden] [int] NULL,
	[observaciones] [nvarchar](250) NULL,
	[registro_sesion_id] [int] NULL,
	[registro_fecha] [datetime] NULL,
	[edicion_sesion_id] [int] NULL,
	[edicion_fecha] [datetime] NULL,
	[borrado] [bit] NULL,
	[borrado_sesion_id] [int] NULL,
	[borrado_fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tareas]    Script Date: 03/07/2024 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tareas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[tipo_id] [int] NOT NULL,
	[con_incidencia] [bit] NULL,
	[fecha_propuesta] [datetime] NULL,
	[fecha_tarea] [datetime] NULL,
	[descripcion] [nvarchar](500) NULL,
	[oficial_id] [int] NULL,
	[fecha_asignacion] [datetime] NULL,
	[terminal_serie] [nvarchar](50) NULL,
	[terminal_serie_retirado] [nvarchar](50) NULL,
	[ucr1_serie] [nvarchar](50) NULL,
	[ucr2_serie] [nvarchar](50) NULL,
	[cancelada] [bit] NULL,
	[cancelada_sesion_id] [int] NULL,
	[cancelada_fecha] [datetime] NULL,
	[cancelada_texto] [nvarchar](500) NULL,
	[terminada] [bit] NULL,
	[terminada_sesion_id] [int] NULL,
	[terminada_fecha] [datetime] NULL,
	[terminada_texto] [nvarchar](500) NULL,
	[observaciones] [nvarchar](250) NULL,
	[registro_sesion_id] [int] NULL,
	[registro_fecha] [datetime] NULL,
	[edicion_sesion_id] [int] NULL,
	[edicion_fecha] [datetime] NULL,
	[borrado] [bit] NULL,
	[borrado_sesion_id] [int] NULL,
	[borrado_fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urgencias]    Script Date: 03/07/2024 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urgencias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[orden] [int] NULL,
	[observaciones] [nvarchar](250) NULL,
	[registro_sesion_id] [int] NULL,
	[registro_fecha] [datetime] NULL,
	[edicion_sesion_id] [int] NULL,
	[edicion_fecha] [datetime] NULL,
	[borrado] [bit] NULL,
	[borrado_sesion_id] [int] NULL,
	[borrado_fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios_tad]    Script Date: 03/07/2024 10:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios_tad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sias] [nvarchar](25) NULL,
	[expediente] [nvarchar](50) NULL,
	[nombre] [nvarchar](50) NULL,
	[apellido1] [nvarchar](50) NULL,
	[apellido2] [nvarchar](50) NULL,
	[direccion] [nvarchar](250) NULL,
	[provincia] [nvarchar](250) NULL,
	[poblacion] [nvarchar](250) NULL,
	[codigo_postal] [nvarchar](10) NULL,
	[distrito] [nvarchar](250) NULL,
	[telefono] [nvarchar](50) NULL,
	[estado_nombre] [nvarchar](50) NULL,
	[estado_fecha] [datetime] NULL,
	[via_tipo] [nvarchar](50) NULL,
	[via_nombre] [nvarchar](50) NULL,
	[via_numero] [nvarchar](10) NULL,
	[via_escal] [nvarchar](10) NULL,
	[via_piso] [nvarchar](10) NULL,
	[via_puerta] [nvarchar](10) NULL,
	[programa] [nvarchar](50) NULL,
	[vive_solo] [bit] NULL,
	[terminal_serie] [nvarchar](250) NULL,
	[terminal_secreto] [nvarchar](250) NULL,
	[ucr_serie] [nvarchar](250) NULL,
	[dispositivos] [nvarchar](max) NULL,
	[riesgo] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[contacto_categorias] ON 

INSERT [dbo].[contacto_categorias] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (1, N'Concertar Cita', 0, NULL, 0, CAST(N'2024-05-28T22:22:37.300' AS DateTime), 0, CAST(N'2024-05-28T22:22:37.300' AS DateTime), 0, 0, NULL)
INSERT [dbo].[contacto_categorias] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (2, N'No Procede', 0, NULL, 0, CAST(N'2024-05-28T22:22:37.300' AS DateTime), 0, CAST(N'2024-05-28T22:22:37.300' AS DateTime), 0, 0, NULL)
INSERT [dbo].[contacto_categorias] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (3, N'No Realizada', 0, NULL, 0, CAST(N'2024-05-28T22:22:37.300' AS DateTime), 0, CAST(N'2024-05-28T22:22:37.300' AS DateTime), 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[contacto_categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[contacto_motivos] ON 

INSERT [dbo].[contacto_motivos] ([id], [categoria_id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (1, 1, N'No Contesta', 0, NULL, 0, CAST(N'2024-05-28T22:22:37.300' AS DateTime), 0, CAST(N'2024-05-28T22:22:37.300' AS DateTime), 0, 0, NULL)
INSERT [dbo].[contacto_motivos] ([id], [categoria_id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (2, 1, N'Llamar Otro Día', 0, NULL, 0, CAST(N'2024-05-28T22:22:37.300' AS DateTime), 0, CAST(N'2024-05-28T22:22:37.300' AS DateTime), 0, 0, NULL)
INSERT [dbo].[contacto_motivos] ([id], [categoria_id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (3, 1, N'Cita Concertada', 0, NULL, 0, CAST(N'2024-05-28T22:22:37.300' AS DateTime), 0, CAST(N'2024-05-28T22:22:37.300' AS DateTime), 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[contacto_motivos] OFF
GO
SET IDENTITY_INSERT [dbo].[dispositivos] ON 

INSERT [dbo].[dispositivos] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (1, N'Terminal', 0, NULL, 0, CAST(N'2024-06-25T12:10:39.480' AS DateTime), 0, CAST(N'2024-06-25T12:10:39.480' AS DateTime), 0, 0, NULL)
INSERT [dbo].[dispositivos] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (2, N'UCR', 0, NULL, 0, CAST(N'2024-06-25T12:10:39.487' AS DateTime), 0, CAST(N'2024-06-25T12:10:39.487' AS DateTime), 0, 0, NULL)
INSERT [dbo].[dispositivos] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (3, N'Detector gas', 0, NULL, 0, CAST(N'2024-06-25T12:10:39.487' AS DateTime), 0, CAST(N'2024-06-25T12:10:39.487' AS DateTime), 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[dispositivos] OFF
GO
SET IDENTITY_INSERT [dbo].[dispositivos_operaciones] ON 

INSERT [dbo].[dispositivos_operaciones] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (1, N'Instalar', 0, NULL, 0, CAST(N'2024-06-25T12:07:51.117' AS DateTime), 0, CAST(N'2024-06-25T12:07:51.117' AS DateTime), 0, 0, NULL)
INSERT [dbo].[dispositivos_operaciones] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (2, N'Revisar/Reparar', 0, NULL, 0, CAST(N'2024-06-25T12:07:51.117' AS DateTime), 0, CAST(N'2024-06-25T12:07:51.117' AS DateTime), 0, 0, NULL)
INSERT [dbo].[dispositivos_operaciones] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (3, N'Retirar', 0, NULL, 0, CAST(N'2024-06-25T12:07:51.117' AS DateTime), 0, CAST(N'2024-06-25T12:07:51.117' AS DateTime), 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[dispositivos_operaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[incidencias] ON 

INSERT [dbo].[incidencias] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (1, N'Incidencia 1', 0, NULL, 0, CAST(N'2024-06-28T16:19:54.070' AS DateTime), 0, CAST(N'2024-06-28T16:19:54.070' AS DateTime), 0, 0, NULL)
INSERT [dbo].[incidencias] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (2, N'Incidencia 2', 0, NULL, 0, CAST(N'2024-06-28T16:19:54.140' AS DateTime), 0, CAST(N'2024-06-28T16:19:54.140' AS DateTime), 0, 0, NULL)
INSERT [dbo].[incidencias] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (3, N'Incidencia 3', 0, NULL, 0, CAST(N'2024-06-28T16:19:54.140' AS DateTime), 0, CAST(N'2024-06-28T16:19:54.140' AS DateTime), 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[incidencias] OFF
GO
SET IDENTITY_INSERT [dbo].[inicios_sesion] ON 

INSERT [dbo].[inicios_sesion] ([id], [usuario], [clave], [nombre], [apellidos], [perfil_id], [roles_id], [nivel], [telefono], [email], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (1, N'jcsmith', N'jcsmith', N'Juan Carlos', N'Smith', 0, N'1,2,3,4', 999, N'919999999', N'jcsmith@asispa.org', N'sesión de Juanito', 0, NULL, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[inicios_sesion] ([id], [usuario], [clave], [nombre], [apellidos], [perfil_id], [roles_id], [nivel], [telefono], [email], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (2, N'majimenez', N'majimenez', N'Miguel Angel', N'Jiménez', 0, N'1,2', 999, N'919998888', N'majimenez@asispa.org', N'sesión de Miguelito', 0, NULL, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[inicios_sesion] ([id], [usuario], [clave], [nombre], [apellidos], [perfil_id], [roles_id], [nivel], [telefono], [email], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (3, N'jkoldobica', NULL, N'Joseba koldobica', N'Arana Monasterio', 0, N'3', 1, NULL, N'jkoldobica@asispa.org', NULL, 1, CAST(N'2024-06-11T16:15:31.000' AS DateTime), 1, CAST(N'2024-06-11T16:16:09.113' AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[inicios_sesion] OFF
GO
SET IDENTITY_INSERT [dbo].[oficiales] ON 

INSERT [dbo].[oficiales] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (1, N'TECAD00', 0, NULL, 1, CAST(N'2024-06-11T13:02:02.960' AS DateTime), 0, CAST(N'2024-06-11T13:07:12.457' AS DateTime), 0, 0, NULL)
INSERT [dbo].[oficiales] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (2, N'TECAD01', 0, NULL, 1, CAST(N'2024-06-11T13:02:02.960' AS DateTime), 0, CAST(N'2024-06-11T13:07:12.463' AS DateTime), 0, 0, NULL)
INSERT [dbo].[oficiales] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (3, N'TECAD02', 0, NULL, 1, CAST(N'2024-06-11T13:02:02.960' AS DateTime), 0, CAST(N'2024-06-11T13:07:12.463' AS DateTime), 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[oficiales] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (1, N'Admin', 1, N'role de administración de la aplicación', 1, CAST(N'2024-05-24T14:00:49.000' AS DateTime), 1, NULL, 0, 0, NULL)
INSERT [dbo].[roles] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (2, N'Invitado', 99999, N'role de invitado', 1, CAST(N'2024-05-24T14:01:23.043' AS DateTime), 1, NULL, 0, 0, NULL)
INSERT [dbo].[roles] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (3, N'Oficial', 2, N'role de oficial', 1, CAST(N'2024-06-11T16:01:30.590' AS DateTime), 0, NULL, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[tarea_categorias] ON 

INSERT [dbo].[tarea_categorias] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (1, N'BAJAS', 0, NULL, 0, CAST(N'2024-05-28T22:22:37.280' AS DateTime), 0, CAST(N'2024-05-28T22:22:37.280' AS DateTime), 0, 0, NULL)
INSERT [dbo].[tarea_categorias] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (2, N'DISPOSITIVOS PERIFERICOS', 0, NULL, 0, CAST(N'2024-05-28T22:22:37.283' AS DateTime), 0, CAST(N'2024-05-28T22:22:37.283' AS DateTime), 0, 0, NULL)
INSERT [dbo].[tarea_categorias] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (3, N'LLAVES', 0, NULL, 0, CAST(N'2024-05-28T22:22:37.283' AS DateTime), 0, CAST(N'2024-05-28T22:22:37.283' AS DateTime), 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[tarea_categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[tarea_contactos] ON 

INSERT [dbo].[tarea_contactos] ([id], [tarea_id], [fecha], [sesion_id], [motivo_id], [fecha_cita], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (1, 1, CAST(N'2024-06-06T11:44:54.080' AS DateTime), 1, 1, NULL, N'Prueba', 0, CAST(N'2024-06-07T13:40:07.640' AS DateTime), 0, CAST(N'2024-06-07T13:40:07.640' AS DateTime), 1, 1, CAST(N'2024-06-11T10:27:49.190' AS DateTime))
INSERT [dbo].[tarea_contactos] ([id], [tarea_id], [fecha], [sesion_id], [motivo_id], [fecha_cita], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (2, 1, CAST(N'2024-06-07T00:00:00.000' AS DateTime), 1, 3, NULL, N'Prueba 3', 0, CAST(N'2024-06-07T13:40:47.403' AS DateTime), 0, CAST(N'2024-06-07T13:40:47.403' AS DateTime), 1, 1, CAST(N'2024-06-11T15:33:07.027' AS DateTime))
INSERT [dbo].[tarea_contactos] ([id], [tarea_id], [fecha], [sesion_id], [motivo_id], [fecha_cita], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (1009, 1, CAST(N'2024-06-10T23:33:32.737' AS DateTime), 0, 12, NULL, N'dffdf', 1, CAST(N'2024-06-10T23:33:36.297' AS DateTime), 1, CAST(N'2024-06-10T23:33:30.400' AS DateTime), 1, 1, CAST(N'2024-06-14T13:28:17.047' AS DateTime))
SET IDENTITY_INSERT [dbo].[tarea_contactos] OFF
GO
SET IDENTITY_INSERT [dbo].[tarea_dispositivos] ON 

INSERT [dbo].[tarea_dispositivos] ([id], [tarea_id], [almacenero_id], [fecha], [operacion_id], [dispositivo_id], [incidencia_id], [numero_serie], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (2, 4, 5, CAST(N'2024-06-25T00:00:00.000' AS DateTime), 1, 1, NULL, N'12344', NULL, 0, CAST(N'2024-06-25T13:41:24.960' AS DateTime), 0, CAST(N'2024-06-25T13:41:24.960' AS DateTime), 1, 1, CAST(N'2024-06-25T16:29:47.453' AS DateTime))
INSERT [dbo].[tarea_dispositivos] ([id], [tarea_id], [almacenero_id], [fecha], [operacion_id], [dispositivo_id], [incidencia_id], [numero_serie], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (3, 4, 1, CAST(N'2024-06-25T16:06:23.660' AS DateTime), 1, 2, NULL, N'54321', N'fallo del UCR asignado, se instalo uno de back up ', 1, CAST(N'2024-06-25T16:06:23.660' AS DateTime), 1, CAST(N'2024-06-25T16:06:23.660' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[tarea_dispositivos] ([id], [tarea_id], [almacenero_id], [fecha], [operacion_id], [dispositivo_id], [incidencia_id], [numero_serie], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (4, 4, 4, CAST(N'2024-06-28T11:50:51.463' AS DateTime), 3, 1, NULL, N'erert4t445', N'hhhhhhh', 4, CAST(N'2024-06-28T11:50:51.463' AS DateTime), 4, CAST(N'2024-06-28T11:50:51.463' AS DateTime), 1, 1, CAST(N'2024-06-28T12:35:24.070' AS DateTime))
SET IDENTITY_INSERT [dbo].[tarea_dispositivos] OFF
GO
SET IDENTITY_INSERT [dbo].[tarea_oficiales] ON 

INSERT [dbo].[tarea_oficiales] ([id], [tarea_id], [oficial_id], [orden], [fecha], [coord_id], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha], [fecha_cita]) VALUES (7, 1, 3, 0, CAST(N'2024-06-14T13:29:59.060' AS DateTime), 1, N'Urgente ', 1, CAST(N'2024-06-14T13:29:59.060' AS DateTime), 1, CAST(N'2024-06-14T13:29:59.060' AS DateTime), 1, 1, CAST(N'2024-06-14T13:56:11.010' AS DateTime), CAST(N'2024-06-14T13:29:23.803' AS DateTime))
INSERT [dbo].[tarea_oficiales] ([id], [tarea_id], [oficial_id], [orden], [fecha], [coord_id], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha], [fecha_cita]) VALUES (8, 1, 3, 0, CAST(N'2024-06-17T11:53:09.113' AS DateTime), 1, N'oficial asignado', 1, CAST(N'2024-06-17T11:53:09.113' AS DateTime), 1, CAST(N'2024-06-17T11:53:09.113' AS DateTime), 0, NULL, NULL, CAST(N'2024-06-17T13:35:00.000' AS DateTime))
INSERT [dbo].[tarea_oficiales] ([id], [tarea_id], [oficial_id], [orden], [fecha], [coord_id], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha], [fecha_cita]) VALUES (9, 3, 3, 0, CAST(N'2024-06-17T11:55:23.387' AS DateTime), 1, NULL, 1, CAST(N'2024-06-17T11:55:23.390' AS DateTime), 1, CAST(N'2024-06-17T11:55:23.390' AS DateTime), 0, NULL, NULL, CAST(N'2024-06-19T11:55:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tarea_oficiales] OFF
GO
SET IDENTITY_INSERT [dbo].[tarea_tipos] ON 

INSERT [dbo].[tarea_tipos] ([id], [categoria_id], [nombre], [urgente_id], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (1, 1, N'NO FUNCIONA UCR', 1, 0, NULL, 0, CAST(N'2024-05-28T22:22:37.287' AS DateTime), 0, CAST(N'2024-05-28T22:22:37.287' AS DateTime), 0, 0, NULL)
INSERT [dbo].[tarea_tipos] ([id], [categoria_id], [nombre], [urgente_id], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (2, 1, N'BAJA BATERIA UCR', 1, 0, NULL, 0, CAST(N'2024-05-28T22:22:37.287' AS DateTime), 0, CAST(N'2024-05-28T22:22:37.287' AS DateTime), 0, 0, NULL)
INSERT [dbo].[tarea_tipos] ([id], [categoria_id], [nombre], [urgente_id], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (3, 1, N'RECOGER UCRS', 3, 0, NULL, 0, CAST(N'2024-05-28T22:22:37.287' AS DateTime), 0, CAST(N'2024-05-28T22:22:37.287' AS DateTime), 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[tarea_tipos] OFF
GO
SET IDENTITY_INSERT [dbo].[tareas] ON 

SET IDENTITY_INSERT [dbo].[tareas] OFF
GO
SET IDENTITY_INSERT [dbo].[urgencias] ON 

INSERT [dbo].[urgencias] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (1, N'URGENTE 24H', 0, NULL, 0, CAST(N'2024-05-28T22:22:37.300' AS DateTime), 0, CAST(N'2024-05-28T22:22:37.300' AS DateTime), 0, 0, NULL)
INSERT [dbo].[urgencias] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (2, N'NO URGENTE 48H', 0, NULL, 0, CAST(N'2024-05-28T22:22:37.303' AS DateTime), 0, CAST(N'2024-05-28T22:22:37.303' AS DateTime), 0, 0, NULL)
INSERT [dbo].[urgencias] ([id], [nombre], [orden], [observaciones], [registro_sesion_id], [registro_fecha], [edicion_sesion_id], [edicion_fecha], [borrado], [borrado_sesion_id], [borrado_fecha]) VALUES (3, N'NO URGENTE 72H', 0, NULL, 0, CAST(N'2024-05-28T22:22:37.303' AS DateTime), 0, CAST(N'2024-05-28T22:22:37.303' AS DateTime), 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[urgencias] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios_tad] ON 

GO
SET IDENTITY_INSERT [dbo].[usuarios_tad] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__72AFBCC6D9B2ED82]    Script Date: 03/07/2024 10:42:17 ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[contacto_categorias] ADD  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [dbo].[contacto_categorias] ADD  DEFAULT ((0)) FOR [registro_sesion_id]
GO
ALTER TABLE [dbo].[contacto_categorias] ADD  DEFAULT (getdate()) FOR [registro_fecha]
GO
ALTER TABLE [dbo].[contacto_categorias] ADD  DEFAULT ((0)) FOR [edicion_sesion_id]
GO
ALTER TABLE [dbo].[contacto_categorias] ADD  DEFAULT (getdate()) FOR [edicion_fecha]
GO
ALTER TABLE [dbo].[contacto_categorias] ADD  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[contacto_categorias] ADD  DEFAULT ((0)) FOR [borrado_sesion_id]
GO
ALTER TABLE [dbo].[contacto_motivos] ADD  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [dbo].[contacto_motivos] ADD  DEFAULT ((0)) FOR [registro_sesion_id]
GO
ALTER TABLE [dbo].[contacto_motivos] ADD  DEFAULT (getdate()) FOR [registro_fecha]
GO
ALTER TABLE [dbo].[contacto_motivos] ADD  DEFAULT ((0)) FOR [edicion_sesion_id]
GO
ALTER TABLE [dbo].[contacto_motivos] ADD  DEFAULT (getdate()) FOR [edicion_fecha]
GO
ALTER TABLE [dbo].[contacto_motivos] ADD  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[contacto_motivos] ADD  DEFAULT ((0)) FOR [borrado_sesion_id]
GO
ALTER TABLE [dbo].[dispositivos] ADD  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [dbo].[dispositivos] ADD  DEFAULT ((0)) FOR [registro_sesion_id]
GO
ALTER TABLE [dbo].[dispositivos] ADD  DEFAULT (getdate()) FOR [registro_fecha]
GO
ALTER TABLE [dbo].[dispositivos] ADD  DEFAULT ((0)) FOR [edicion_sesion_id]
GO
ALTER TABLE [dbo].[dispositivos] ADD  DEFAULT (getdate()) FOR [edicion_fecha]
GO
ALTER TABLE [dbo].[dispositivos] ADD  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[dispositivos] ADD  DEFAULT ((0)) FOR [borrado_sesion_id]
GO
ALTER TABLE [dbo].[dispositivos_operaciones] ADD  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [dbo].[dispositivos_operaciones] ADD  DEFAULT ((0)) FOR [registro_sesion_id]
GO
ALTER TABLE [dbo].[dispositivos_operaciones] ADD  DEFAULT (getdate()) FOR [registro_fecha]
GO
ALTER TABLE [dbo].[dispositivos_operaciones] ADD  DEFAULT ((0)) FOR [edicion_sesion_id]
GO
ALTER TABLE [dbo].[dispositivos_operaciones] ADD  DEFAULT (getdate()) FOR [edicion_fecha]
GO
ALTER TABLE [dbo].[dispositivos_operaciones] ADD  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[dispositivos_operaciones] ADD  DEFAULT ((0)) FOR [borrado_sesion_id]
GO
ALTER TABLE [dbo].[incidencias] ADD  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [dbo].[incidencias] ADD  DEFAULT ((0)) FOR [registro_sesion_id]
GO
ALTER TABLE [dbo].[incidencias] ADD  DEFAULT (getdate()) FOR [registro_fecha]
GO
ALTER TABLE [dbo].[incidencias] ADD  DEFAULT ((0)) FOR [edicion_sesion_id]
GO
ALTER TABLE [dbo].[incidencias] ADD  DEFAULT (getdate()) FOR [edicion_fecha]
GO
ALTER TABLE [dbo].[incidencias] ADD  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[incidencias] ADD  DEFAULT ((0)) FOR [borrado_sesion_id]
GO
ALTER TABLE [dbo].[inicios_sesion] ADD  CONSTRAINT [DF_inicios_sesion_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[oficiales] ADD  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [dbo].[oficiales] ADD  DEFAULT ((0)) FOR [registro_sesion_id]
GO
ALTER TABLE [dbo].[oficiales] ADD  DEFAULT (getdate()) FOR [registro_fecha]
GO
ALTER TABLE [dbo].[oficiales] ADD  DEFAULT ((0)) FOR [edicion_sesion_id]
GO
ALTER TABLE [dbo].[oficiales] ADD  DEFAULT (getdate()) FOR [edicion_fecha]
GO
ALTER TABLE [dbo].[oficiales] ADD  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[oficiales] ADD  DEFAULT ((0)) FOR [borrado_sesion_id]
GO
ALTER TABLE [dbo].[perfiles] ADD  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [dbo].[perfiles] ADD  DEFAULT ((0)) FOR [registro_sesion_id]
GO
ALTER TABLE [dbo].[perfiles] ADD  DEFAULT (getdate()) FOR [registro_fecha]
GO
ALTER TABLE [dbo].[perfiles] ADD  DEFAULT ((0)) FOR [edicion_sesion_id]
GO
ALTER TABLE [dbo].[perfiles] ADD  DEFAULT (getdate()) FOR [edicion_fecha]
GO
ALTER TABLE [dbo].[perfiles] ADD  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[perfiles] ADD  DEFAULT ((0)) FOR [borrado_sesion_id]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((0)) FOR [registro_sesion_id]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (getdate()) FOR [registro_fecha]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((0)) FOR [edicion_sesion_id]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((0)) FOR [borrado_sesion_id]
GO
ALTER TABLE [dbo].[tarea_categorias] ADD  CONSTRAINT [DF_tarea_categorias_nombre]  DEFAULT ((0)) FOR [nombre]
GO
ALTER TABLE [dbo].[tarea_categorias] ADD  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [dbo].[tarea_categorias] ADD  DEFAULT ((0)) FOR [registro_sesion_id]
GO
ALTER TABLE [dbo].[tarea_categorias] ADD  DEFAULT (getdate()) FOR [registro_fecha]
GO
ALTER TABLE [dbo].[tarea_categorias] ADD  DEFAULT ((0)) FOR [edicion_sesion_id]
GO
ALTER TABLE [dbo].[tarea_categorias] ADD  DEFAULT (getdate()) FOR [edicion_fecha]
GO
ALTER TABLE [dbo].[tarea_categorias] ADD  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[tarea_categorias] ADD  DEFAULT ((0)) FOR [borrado_sesion_id]
GO
ALTER TABLE [dbo].[tarea_contactos] ADD  CONSTRAINT [DF__tarea_con__regis__4D5F7D71]  DEFAULT ((0)) FOR [registro_sesion_id]
GO
ALTER TABLE [dbo].[tarea_contactos] ADD  CONSTRAINT [DF__tarea_con__regis__4E53A1AA]  DEFAULT (getdate()) FOR [registro_fecha]
GO
ALTER TABLE [dbo].[tarea_contactos] ADD  CONSTRAINT [DF__tarea_con__edici__4F47C5E3]  DEFAULT ((0)) FOR [edicion_sesion_id]
GO
ALTER TABLE [dbo].[tarea_contactos] ADD  CONSTRAINT [DF__tarea_con__edici__503BEA1C]  DEFAULT (getdate()) FOR [edicion_fecha]
GO
ALTER TABLE [dbo].[tarea_contactos] ADD  CONSTRAINT [DF__tarea_con__borra__51300E55]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[tarea_contactos] ADD  CONSTRAINT [DF__tarea_con__borra__5224328E]  DEFAULT ((0)) FOR [borrado_sesion_id]
GO
ALTER TABLE [dbo].[tarea_dispositivos] ADD  CONSTRAINT [DF__tarea_dis__fecha__52E34C9D]  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[tarea_dispositivos] ADD  CONSTRAINT [DF__tarea_dis__regis__53D770D6]  DEFAULT ((0)) FOR [registro_sesion_id]
GO
ALTER TABLE [dbo].[tarea_dispositivos] ADD  CONSTRAINT [DF__tarea_dis__regis__54CB950F]  DEFAULT (getdate()) FOR [registro_fecha]
GO
ALTER TABLE [dbo].[tarea_dispositivos] ADD  CONSTRAINT [DF__tarea_dis__edici__55BFB948]  DEFAULT ((0)) FOR [edicion_sesion_id]
GO
ALTER TABLE [dbo].[tarea_dispositivos] ADD  CONSTRAINT [DF__tarea_dis__edici__56B3DD81]  DEFAULT (getdate()) FOR [edicion_fecha]
GO
ALTER TABLE [dbo].[tarea_dispositivos] ADD  CONSTRAINT [DF__tarea_dis__borra__57A801BA]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[tarea_dispositivos] ADD  CONSTRAINT [DF__tarea_dis__borra__589C25F3]  DEFAULT ((0)) FOR [borrado_sesion_id]
GO
ALTER TABLE [dbo].[tarea_oficiales] ADD  CONSTRAINT [DF__tarea_ofi__Orden__756D6ECB]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [dbo].[tarea_oficiales] ADD  CONSTRAINT [DF__tarea_ofi__regis__76619304]  DEFAULT ((0)) FOR [registro_sesion_id]
GO
ALTER TABLE [dbo].[tarea_oficiales] ADD  CONSTRAINT [DF__tarea_ofi__regis__7755B73D]  DEFAULT (getdate()) FOR [registro_fecha]
GO
ALTER TABLE [dbo].[tarea_oficiales] ADD  CONSTRAINT [DF__tarea_ofi__edici__7849DB76]  DEFAULT ((0)) FOR [edicion_sesion_id]
GO
ALTER TABLE [dbo].[tarea_oficiales] ADD  CONSTRAINT [DF__tarea_ofi__edici__793DFFAF]  DEFAULT (getdate()) FOR [edicion_fecha]
GO
ALTER TABLE [dbo].[tarea_oficiales] ADD  CONSTRAINT [DF__tarea_ofi__borra__7A3223E8]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[tarea_oficiales] ADD  CONSTRAINT [DF__tarea_ofi__borra__7B264821]  DEFAULT ((0)) FOR [borrado_sesion_id]
GO
ALTER TABLE [dbo].[tarea_tipos] ADD  DEFAULT ((0)) FOR [urgente_id]
GO
ALTER TABLE [dbo].[tarea_tipos] ADD  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [dbo].[tarea_tipos] ADD  DEFAULT ((0)) FOR [registro_sesion_id]
GO
ALTER TABLE [dbo].[tarea_tipos] ADD  DEFAULT (getdate()) FOR [registro_fecha]
GO
ALTER TABLE [dbo].[tarea_tipos] ADD  DEFAULT ((0)) FOR [edicion_sesion_id]
GO
ALTER TABLE [dbo].[tarea_tipos] ADD  DEFAULT (getdate()) FOR [edicion_fecha]
GO
ALTER TABLE [dbo].[tarea_tipos] ADD  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[tarea_tipos] ADD  DEFAULT ((0)) FOR [borrado_sesion_id]
GO
ALTER TABLE [dbo].[tareas] ADD  DEFAULT ((0)) FOR [con_incidencia]
GO
ALTER TABLE [dbo].[tareas] ADD  DEFAULT ((0)) FOR [cancelada]
GO
ALTER TABLE [dbo].[tareas] ADD  DEFAULT ((0)) FOR [terminada]
GO
ALTER TABLE [dbo].[tareas] ADD  DEFAULT ((0)) FOR [terminada_sesion_id]
GO
ALTER TABLE [dbo].[tareas] ADD  DEFAULT ((0)) FOR [registro_sesion_id]
GO
ALTER TABLE [dbo].[tareas] ADD  DEFAULT (getdate()) FOR [registro_fecha]
GO
ALTER TABLE [dbo].[tareas] ADD  DEFAULT ((0)) FOR [edicion_sesion_id]
GO
ALTER TABLE [dbo].[tareas] ADD  DEFAULT (getdate()) FOR [edicion_fecha]
GO
ALTER TABLE [dbo].[tareas] ADD  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[tareas] ADD  DEFAULT ((0)) FOR [borrado_sesion_id]
GO
ALTER TABLE [dbo].[urgencias] ADD  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [dbo].[urgencias] ADD  DEFAULT ((0)) FOR [registro_sesion_id]
GO
ALTER TABLE [dbo].[urgencias] ADD  DEFAULT (getdate()) FOR [registro_fecha]
GO
ALTER TABLE [dbo].[urgencias] ADD  DEFAULT ((0)) FOR [edicion_sesion_id]
GO
ALTER TABLE [dbo].[urgencias] ADD  DEFAULT (getdate()) FOR [edicion_fecha]
GO
ALTER TABLE [dbo].[urgencias] ADD  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[urgencias] ADD  DEFAULT ((0)) FOR [borrado_sesion_id]
GO
ALTER TABLE [dbo].[usuarios_tad] ADD  DEFAULT ((0)) FOR [vive_solo]
GO
