@page
@model ApuStore.Pages.Administracion.Colores.EditModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Modificar</h1>

<h4>Colores de Productos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductosColores.Id" />
            <div class="form-group">
                <label asp-for="ProductosColores.Nombre" class="control-label"></label>
                <input asp-for="ProductosColores.Nombre" class="form-control" />
                <span asp-validation-for="ProductosColores.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductosColores.Orden" class="control-label"></label>
                <input asp-for="ProductosColores.Orden" class="form-control" />
                <span asp-validation-for="ProductosColores.Orden" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary mt-2" />
                o <a asp-page="./Index">Volver</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
